body {
  margin: 0;
  background-color: #E48586;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
